* {å
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --header_nav_top: 1.5rem;
    --header_nav_login: 2rem;
    --header_nav_titles: 2rem;

    --footer_nav_standard: 1rem;
    --footer_nav_call-to-action: 2rem;
}

html {
  font-size: 62.5%;
}

body {
    background-color: beige;
}
